<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="logback.mongodb" sequenceNumber="0">
<locations>
<location path="${project_loc:logback.mongodb}/targetPlatform" type="Directory"/>
</locations>
</target>
